{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/content.styles.css') }}">
{% endblock %}

{% block bodyClass %}content{% endblock %}

{% block body %}

    <header>
            <div class="container">
                <!-- Navigation  -->
                <nav class="navbar navbar-expand-md fixed-top">
                    <a href="" class="navbar-brand"><img src="logo.jpeg" class="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"><img src="burger-menu.svg" class="icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Baum-Finder</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Baumliste</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Projekte &amp; Aktuelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Spenden</a>
                            </li>
                            <!--
                            <li class="nav-item">
                                <a class="nav-link" href="#">Wunschliste</a>
                            </li>
                            -->
                        </ul>
                    </div>
                </nav>
            </div>
    </header>

    <main class="{% block mainClass %}{% endblock %}">
        {% block main %}{% endblock %}
    </main>

    <footer>
        <!-- Footer  -->
        <div class="row footer">
            <div class="col-sm-6 footer-col">
                <a href="" class="footer-title">Community</a>
                <a href="" class="footer-title">Kontakt</a
            </div>
            <div class="col-sm-6 footer-col">
                <a href="" class="footer-title">Impressum</a>
                <a href="" class="footer-title">Datenschutz</a>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="small-text">Zukunftsbaum D&uuml;sseldorf 2020</h6>
                </div>
            </div>
        </div>
        <!-- End of Footer -->
    </footer>

    <script type="text/javascript">
        $(window).scroll(function(){
            var scroll = $(window).scrollTop();
            if (scroll > 10) {
                $(".navbar").addClass("navbar-scrolled");
                // $(".nav-link").css("color" , "#ffffff");
            }

            else{
                $(".navbar").removeClass("navbar-scrolled");
                // $(".nav-link").css("color" , "#ffffff");

            }
        })
    </script>

{% endblock %}
