{% extends "content/content_base.html.twig" %}

{% block title %}
    {{ parent() }}
    Willkommen!
{% endblock %}

{% block mainClass %}landing{% endblock %}

{% block main %}
<div class="container">
    <div class="row home-section">
        <div class="col-sm-6">
            <h2 class="main-title">Verbessern Sie mit uns das Stadtklima!</h2>
            <p class="description-text">
                Sie möchten einen Baum pflanzen, aber wissen nicht welcher der richtige für Sie ist?
                Dann nutzen Sie unseren Baum-o-Mat! Mit Hilfe unseres Baumfinders finden Sie den perfekten Baum.
                Helfen Sie mit die Welt wieder etwas grüner werden zu lassen.
            </p>
            <div class="row btn-row">
                <a href="#" class="button">Zum Baum-o-mat</a>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="planet.svg" class="home-pic">
        </div>
    </div>
    <!-- End of Baumomat Section  -->

    <!-- tipps Section  -->
    <div class="row home-section">
        <div class="col-sm-6">
            <img src="watering_plants.svg" class="home-pic">
        </div>
        <div class="col-sm-6">
            <h2 class="title">Haben Sie noch nie einen Baum gepflanzt?</h2>
            <p class="description-text">
                Wir helfen Ihnen gern. Wir haben einige Pflanztipps und Pflegetipps, mit denen jeder Baum Wurzeln schlägt.
                Für Einsteiger empfehlen wir die allgemeinen Pflanztipps und Pflegetipps,
                falls Sie für einen bestimmten Baum spezielle Pflanz- und Pflegetipps suchen empfehlen wir unserer Baumliste.
                In der Baumliste suchen Sie nach Ihren Bäumen und finden auf den jeweileigen Baumprofilen die speziellen Tipps.
            </p>
            <div class="row btn-row">
                <a href="" class="button">Pflanz- und Pflegetipps</a>
                <a href="" class="button">Spezielle Tipps finden</a>
            </div>
        </div>
    </div>
    <!-- End of tipps Section  -->

    <!-- Über Uns Section -->
    <div class="row home-section about-us">
        <div class="col-12" style="text-align: center;">
            <h2 class="title">Zukunftsbaum Düsseldorf</h2>
        </div>
        <div class="col-sm-6">
            <p class="description-text">
                Wir sind Studierende, Auszubildende und junge Berufstätige aus Düsseldorf, die im Rahmen des Innovationssemesters der Wissensregion Düsseldorf das Projekt Zukunftsbaum-Düsseldorf.de gestartet haben. Damit möchten wir einen Lösungsbeitrag zu einer der größten Herausforderungen unserer Generation, dem Klimawandel, beisteuern. Sehr viele Bäume müssen gepflanzt werden, nicht nur in allen Wäldern der Erde, sondern auch in unserer direkten Nachbarschaft.
            </p>
        </div>
        <div class="col-sm-6">
            <p class="description-text">
                Jeder Stadtbaum hat das große Potenzial das Klima zu verbessern, CO2 zu speichern und unsere Stadt lebenswerter zu gestalten. Wir möchten ein grüneres Düsseldorf! Die Grundlage hierfür bietet das Gartenamt Düsseldorf mit der Zukunftsbaumliste. Aber nicht nur die Stadtverwaltung soll zukünftig mit der Liste arbeiten. Wir bieten Ihnen eine leicht zugängliche und überarbeitete Version und freuen uns über jeden dadurch gepflanzten Baum.
            </p>
        </div>

    </div>
        <div class="col-12">
            <img src="trees.svg" class="home-pic-small">
        </div>
    </div>
    <!-- End of Über Uns Section -->

    <!-- Spenden Section  -->
    <div class="row home-section">
        <div class="col-sm-6">
            <img src="watering_plants.svg" class="home-pic">
        </div>
        <div class="col-sm-6">
            <h2 class="title">Es muss nicht immer ein eigener Baum sein</h2>
            <p class="description-text">
                Wenn Sie keinen eigenen Baum pflanzen können, gibt es noch viele andere Möglichkeiten, unser Projekt,
                Düsseldorf und unser Klima zu unterstützen.
            </p>
            <div class="row btn-row">
                <a href="" class="button">Spenden</a>
            </div>
        </div>
    </div>
    <!-- End of Spenden Section  -->


{% endblock %}
