/*-------------------------------- Erstellung der Kacheln in Suchausgabe bereich ---------------------------------*/

.item {
    height: 170px;
    width: 170px;
    margin-left: 5px;
	margin-right: 5px;
    margin-top: 10px;
	margin-bottom: 5px;
	background: linear-gradient(152.24145939893992deg, rgba(88, 204, 109,0.4) 22.010821554770317%,rgba(88, 204, 109,0.41875) 25.829284452296825%,rgba(55, 200, 94,0.6) 59.60799469964665%,rgba(40, 199, 88,0.6) 76.49734982332156%);
    color: #0f591c;
    border-radius: 6px;
	text-align: center;
	line-height: 20px;
	padding-top: 5px;
	text-decoration: none;
}

.itemPix {
	height: inherit;
	width: inherit;
	clip-path: inset(5% 5% 20% 5% round 6px);
}

.item:hover {
	background: #0f591c;
	color: white;
	text-decoration: none;
}

/* FLEX BOX Regeln */

.parent {
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: wrap;  
}

.row1 {
    max-width: 900px;
    height: auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

/* --------------------------------------------------ENDE-------------------------------------------------- */


/* ----------------------------------------------DropDown Menü--------------------------------------------- */

/* Style select boxen */
.quest {
	background-color: #0f591c;
	color: white;
	font-weight: bold;
	padding: 10px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	margin-left: 5px;
	margin-bottom: 5px;
	width: 155px;
	height: auto;
}

/* container <div> - für positionierung */
.dropdown { 
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	border: none;
	padding: 0.5em;
}

.buttonS {
	float: right;
	padding: inherit;
	margin-left: 50px;
	width: 100px;
	height: 50px;
	border: solid green 2px;
	border-radius: 6px;
}

/* --------------------------------------------------ENDE-------------------------------------------------- */

/* platzhalter für header */

.space {
	margin-top: 3em;
}

body {
	background: #F5F5F5;
}

