{# Global Twig-Variables: #}
{% set allInformationNames = ["Farbe", "Höhe", "Wasserverbrauch"] %}


{# Document Start: #}
<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Zukunftsbaum | {% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% block stylesheets %}{% endblock %}


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


    </head>

    <body class="{% block bodyClass %}{% endblock %}">

        {% block body %}
            default
        {% endblock %}

        <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="{{ asset('assets/js/scripts.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>

</html>
