<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Zukunftsbaum | {% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body class="{% block bodyClass %}{% endblock %}">

        {% block body %}{% endblock %}

        <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/scripts.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>

</html>
