<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Zukunftsbaum | {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src=""></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
