{% extends "content/content_base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/pAndNews.styles.css') }}">
{% endblock %}

{% block title %}
    {{ parent() }}
    Projekte und Aktuelles
{% endblock %}

{% block mainClass %}pAndNews{% endblock %}

{% block main %}
			<div id="PA1"> 
				<div class="PAHeadlineBox">
						<h3 class="HeadlineBox">Nachfolgend findet Sie <br> Abgeschlossene Projekte und Ankündigungen</h3>
				</div>
				<div class="PABody">

					{# Innerhalb dieser Klammer ist die Vorlagen für einen Neuen Text eintrag. Einfach von alles zwischen 1 und 2 rauskopieren.
					1

					<div class="NewsBlock">
						<h3>Hier kommt die Überschrift rein </h3>
						<p>
							Hier kommt der Text rein.
							<br> <- bewirkt einen Zeilenumbruch
						</p>
					</div>

					2
					#}
					
					<div class="NewsBlock">
						<h3>Resümee zum Innovationssemester 2019/2020</h3>
						<p>
							Wir freuen uns das wir einen funktionierenden Baumfinder Präsentieren können. Wir hoffen, dass so der ein oder andere Baum mehr gepflanzt wird, oder zumindest schneller.
							Insgesamt befinden sich 412 Bäume in unserer Liste, die wir der Zukunftsbaumliste vom Gartenamt Düsseldorf entnommen haben.
							<br>
							Wir wollte ihnen noch umfangreiche Pflegetipps und Tricks zur Verfügung stellen. Leider ist es uns in der kurzen Zeit des winter Semester 2019/2020 nicht mehr gelungen
							alles zu realisieren was wir uns vorgenommen hatten. Dennoch haben wir eine sehr gute Seite gefunden die sich hervorragend eignet, wenn Sie mehr Bilder und Informationen
							zu einem bestimmten Baum haben möchten. Auch Pflegetipps sollten hier zu finden sein.
							<br>
							Geben Sie den Namen des Baumes einfach im Suchfeld auf der Seite <a href="https://www.baumkunde.de/"> Baumkunde </a> ein.
							<br>
							Wir danken der <a href="https://www.wissensregion-duesseldorf.de/"> Wissensregion Düsseldorf </a> die dieses Projekt ermöglicht hat.
							<br>
							<span>17.02.2020</span>
						</p>
					</div>
					<div class="NewsBlock">
						<h3>Das Projekt Zukunftbaum Düsseldorf</h3>
						<p>
							Wir sind Studierende, Auszubildende und junge Berufstätige aus Düsseldorf, die im Rahmen des
							Innovationssemesters der Wissensregion Düsseldorf das Projekt Zukunftsbaum-Düsseldorf.de gestartet haben.
							Damit möchten wir einen Lösungsbeitrag zu einer der größten Herausforderungen unserer
							Generation, dem Klimawandel, beisteuern. Sehr viele Bäume müssen gepflanzt werden, nicht nur
							in allen Wäldern der Erde, sondern auch in unserer direkten Nachbarschaft.
							<br>
							Jeder Stadtbaum hat das große Potenzial das Klima zu verbessern, CO2 zu speichern
							und unsere Stadt lebenswerter zu gestalten. Wir möchten ein grüneres Düsseldorf!
							Die Grundlage hierfür bietet das Gartenamt Düsseldorf mit der Zukunftsbaumliste.
							Aber nicht nur die Stadtverwaltung soll zukünftig mit der Liste arbeiten.
							Wir bieten Ihnen eine leicht zugängliche und überarbeitete Version und freuen
							uns über jeden dadurch gepflanzten Baum.
							<br>
							<span> Winter Semester 2019/2020 </span>
						</p>
					</div>
				</div>
			</div>
{% endblock %}